* {
    margin: 0px;
    padding: 0px;
}

h5.text1 {margin-top: 1px;}
.text h4{
    text-align: center;
}

.text h5 {text-align: left;font-size: 25px;padding: 5px;}

.content .img img {
    width: 500px;
}

.content .img {
    margin: 5%;
}

.content {
    width: 31%;
    float: left;
    border: 1px solid black;
    margin: 2%;
}

a:link{
    color: black;
}
a:visited{
    color: gray;
}
a:hover{
    color:red;
}
a:active{
    color: red;
}
a{
    text-decoration: none;
}