* {
    margin: 0px;
    padding: 0px;
}

.content .img img {
    width: 300px;
}

.content .img {
    margin: 5%;
}

.content .text h4 {
    font-size: 20px;
    text-align: center;
    margin-top: 6%;
    padding: 1% 5%;
}

.content {
    width: 20%;
    float: left;
    border: 1px solid black;
    margin: 2%;
}

.clear {
    clear: both;
}
a:link{
    color: black;
}
a:visited{
    color: gray;
}
a:hover{
    color:red;
}
a:active{
    color: red;
}
a{
    text-decoration: none;
}