*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul.col-md-4 {
    list-style-type: none;
    color: #606060;
}

ul.col-md-2 {
    list-style-type: none;
    color: #606060;
}

.row {
    /* padding-top: 50px; */
    display: flex;
    /* align-items: center; */
}

.row.about {
    padding-top: 40px;
    padding-bottom: 10px;
}

.row.padtop50 {
    padding-top: 50px;
}

.col-md-6.align-items-center.text-center.justify-content-center {
    display: flex;
}

.item1 {
    width: 392px;
    height: 459px;
    /* align-items: center; */
}

.post {
    border: 1px solid #dedede;
    border-radius: 7px;
    text-align: justify;
    height: 410px;
}

button.btn.btn-secondary {
    width: 136px;
    height: 40px;
    background-color: #2692ff;
    color: #e4e4e4;
    border: 0;
    position: absolute;
    top: 61%;
    left: 28%;
}

button.btn.btn-secondary:hover {
    background-color: #383838;
}
p{
    color: #4a4343;
}

.item1 p {
    color: #2692ff;
    font-size: 26px;
    margin: 0;
    padding-bottom: 25px;
    padding-top: 45px;
}
.col-md-3 p {
    padding-top: 42px;
    padding-left: 14px;
    padding-right: 14px;
    margin: 0;
    font-size: 12px;
}

.col-md-3 {
    /* position: relative; */
    /* border: 1px solid #383838; */
    padding: 0 15px;
    border-radius: 5px;
    /* margin-right: 30px; */
}

span {
    color: #606060;
    padding-right: 7px;
}

.tag {
    text-align: center;
    /* padding-top: 15px; */
    padding-bottom: 50px;
}

.row.list.tag {
    text-align: left;
    color: #8a8a8a;
    padding-left: 22px;
}

.col-md-5 {
    padding: 0;
}

.col-md-2.align-items-center {
    /* padding: 70px 0 0 0; */
    text-align: center;
}

a:link {
    text-decoration: none;
    color: #606060;
}

.col-md-6 a {
    color: #606060;
}

h3 {
    display: inline;
    font-size: 22px;
}

h3.text-colorblue {
    color: #2694ff;
}

div#left-to-right {
    padding-right: 0;
}

div#left-to-left {
    /* padding-left: 0; */
    /* padding-top: 26px; */
}

li {
    font-size: 18px;
}

.col-md-4 li {
    font-size: 12px;
    line-height: 40px;
}

.col-md-2 li {font-size: 12px;line-height: 40px;}

.item1 li {
    padding-left: 21px;
    font-size: 16px;
    line-height: 45px;
}

p.text-background-black.color-blue {
    font-size: 18px;
    color: #2694ff;
    background-color: #333333;
    border-radius: 6px;
}

h2 {
    font-size: 64px;
}

.container {
    max-width: 1171px;
}
li.nav-item {
    padding: 5px 10px;
}

.wrap {
    background-color: #ebf4fd;
    height:100px;
}
img{
    width: 100%;
}

.col-md-4 li img {
    width: 22px;
    padding-right: 5px;
}

.col-md-3 img {
    position: relative;
}
.img {
    width: 267px;
    height: 50px;
    float: left
}
.container{
    height: 100%;
    width: 100%;
    padding: 0;
}

div.container {
    /* display: flex; */
    align-items: center;
}

footer.container {
}
.nav-menu{
    height: 100px;
    padding: 25px 0;
}
.nav-item a:hover{
    background-color: #2694ff;
    border-radius: 7px;
    color: #e4e4e4;
}
.nav-item a{
    color: #606060;
    font-size: 16px;
}
ul.text-left{
    list-style-type: none;
}
div.slice{
    background-image: url("../img/slice.jpg");
    height: 753px;
    width: 100%;
}
section.container{
    height: 753px;
}
section.container-fluid {/* background-color: #2692ff; */padding-left: 0;padding-right: 0;}
.item1 ul{
    list-style-image: url("../img/shapeicon.png");
}
.our-client {
    background-color: #2692ff;
    height: 131px;
}